.table-header0 {
	font-size: small;
	font-weight: bold;
	color: #006600;
	background-color: #E2F7DF;
}
.table-text0 {
	font-size: x-small;

}
.table-text2 {
	font-size: medium ;
	font-weight: bold;

}
.page-header0 {
	font-size:x-large;
	font-weight: bold;
	color: #006600;

}
